html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

:root {
--primary-text-color: #212121;
--secondary-text-color: #757575;
--accent-color: #2196F3;
--primary-bg-color: #F5F4FA;
--secondary-bg-color: #2F303A;
--white-color: #ffffff;
}

.dot {
    list-style-type: none;
}


body {

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;

    color:var(--primary-text-color) ;
}

/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* белый #ffffff */
/* цвет акцента #2196F3 */
/* основной цвет заливки #F5F4FA */
/* вторичній цвет заливки #2F303A */

/* link transform */

.link {

    text-decoration: none;

}

.container {

    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.section {

    padding-top: 94px;
    padding-bottom: 94px;

}
/* ховаєм заголовки */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    
}

.flex-container {

    display: flex;
    align-items: center;

}

h1, 
h2,
h3, 
h4, 
h5, 
h6, 
p, 
ul {

    padding: 0;
    margin: 0;

}

.section-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}



/* header style */

.header {
    border-bottom-width: 1px ;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
    
  
}
    
/* logo style */

.logo {

    display: block;
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: #000000;
}

.logo-style{
    color: var(--accent-color);
}
    
/* nav style */

.nav {

    display: flex;
    padding-left: 15px;
    align-items: center;

}

.nav-list {

    display: flex;
    margin-left: 93px;

}

.nav-link  {

    display: block;

    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-item + .nav-item {
    margin-left: 50px;
}

.nav-link {

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: inherit;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.nav-list .nav-link.current {
    color: var(--accent-color);
}
    
/* contacts style */

.contacts {

    display: flex;
    padding-right: 15px;
    margin-left: auto;

}

.contacts-link {

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #757575;
}

.contacts-item + .contacts-item {

    margin-left: 50px;
    
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

/* main index.html style */

/* hero style */

.hero {

    text-align: center;

    background-color: var(--secondary-bg-color);
}

.hero-title {

    width: 696px;
    margin-left: auto;
    margin-right: auto;
   

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-color);
}

.hero-button {

    padding: 10px 32px;
    border-radius: 4px;
    margin-top: 30px;

    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--white-color);
    background-color: var(--accent-color);

    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {

    background-color:  #188CE8;

}

/* benefits style */

.benefits-title {

    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits-list {

    display: flex;
    padding-left: 15px;
    padding-right: 15px;

}

.benefits-item {

    width: 270px;

}

.benefits-item + .benefits-item {

    margin-left: 30px;

}

.benefits-text {

    margin-top: 10px;

    line-height: 1.71;
    
    color: var(--secondary-text-color);
}

/* what are we doing style */

.works {

    text-align: center;
    padding-top: 0;

}

.works-list {

    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

.works-item + .works-item {

    margin-left: 30px;

}

/* team style */

.team {

    text-align: center;

}

.team-title {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 30px;

}

.team-list {

    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;

}

.team-item + .team-item {

    margin-left: 30px;

}

.team-text {

    margin-top: 10px;

    font-size: 16px;
    line-height: 1.19;

    color: var(--secondary-text-color);
}

/* portfolio main style */

/* filter style */

.filter-list {

    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;

}

.filter-item + .filter-item {

    margin-left: 8px;

}


.filter-list .button {

    border-radius: 4px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: inherit;

    color: inherit;
    background-color: #F5F4FA;

    cursor: pointer;
}

.filter-list .button:hover,
.filter-list .button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.filter-list .button.current {

    color: var(--white-color);
    background-color: var(--accent-color);
}

/* progects style */

.progects-title {

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}

.progects-list {

    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 34px;

}

.progects-item + .progects-item {

    margin-left: 30px;
    margin-bottom: 30px;

}

.progects-item:nth-child(3n+1) {

    margin-left: 0;

}

.progects-item:nth-last-child(-n+3) {

    margin-bottom: 0;

}

.progects-text {

    font-size: 16px;
    line-height: 1.88;

    color: var(--secondary-text-color);
}

/* footer style */

.footer {
    background-color: var(--secondary-bg-color);
}

.flogo {

    display: block;
    padding-top: 60px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: var(--white-color);
}

.flogo-style {
    color: var(--accent-color);
}

.address {

    display: block;
    margin-top: 20px;

    font-family: inherit;
    font-style:normal;
    font-weight: 400;
    line-height: 1.5;

    color: var(--white-color);
}

.fcontacts {

    margin-top: 9px;
    padding-bottom: 60px;

}

.fcontacts-item + .fcontacts-item {

    margin-top: 9px;

}

.fcontacts-link {
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}

.fcontacts-link:hover,
.fcontacts-link:focus {
    color: var(--accent-color);
}





