:root {
--primary-text-color: #212121;
--secondary-text-color: #757575;
--accent-color: #2196F3;
--primary-bg-color: #F5F4FA;
--secondary-bg-color: #2F303A;
--white-color: #ffffff;
}

.dot {
    list-style-type: none;
}


body {

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;

    color:var(--primary-text-color) ;
}

/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* белый #ffffff */
/* цвет акцента #2196F3 */
/* основной цвет заливки #F5F4FA */
/* вторичній цвет заливки #2F303A */

/* link transform */

.link {

    text-decoration: none;

}

/* ховаєм заголовки */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    
}

/* header style */
    
/* logo style */

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: #000000;
}

.logo-style{
    color: var(--accent-color);
}
    
/* nav style */

.nav-link {

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: inherit;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.nav-list .nav-link.current {
    color: var(--accent-color);
}
    
/* contacts style */

.contacts-link {

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #757575;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

/* main index.html style */

/* hero style */

.hero {

    background-color: var(--secondary-bg-color);
}

.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-color);
}

.hero-button {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--white-color);
    background-color: var(--accent-color);

    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {

    background-color:  #188CE8;

}

.section-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

/* benefits style */
.benefits-title {

    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits-text {

    line-height: 1.71;
    
    color: var(--secondary-text-color);
}

/* team style */
.team-title {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

}

.team-text {

    font-size: 16px;
    line-height: 1.19;

    color: var(--secondary-text-color);
}

/* portfolio main style */

/* filter style */

.filter-list .button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: inherit;

    color: inherit;
    background-color: #F5F4FA;

    cursor: pointer;
}

.filter-list .button:hover,
.filter-list .button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.filter-list .button.current {

    color: var(--white-color);
    background-color: var(--accent-color);
}

/* progects style */

.progects-title {

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}

.progects-text {

    font-size: 16px;
    line-height: 1.88;

    color: var(--secondary-text-color);
}

/* footer style */

.footer {
    background-color: var(--secondary-bg-color);
}

.flogo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: var(--white-color);
}

.flogo-style {
    color: var(--accent-color);
}

.address {
    font-family: inherit;
    font-style:normal;
    font-weight: 400;
    line-height: 1.71;

    color: var(--white-color);
}

.fcontacts-link {
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}

.fcontacts-link:hover,
.fcontacts-link:focus {
    color: var(--accent-color);
}





